# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
build/
**/*.lock

# Android/iOS
android/local.properties
ios/Flutter/Generated.xcconfig
*.iml
*.keystore

# VS Code workspace
*.code-workspace

# macOS/Windows/Linux specific
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
linux/Flutter/ephemeral/
