# Flutter/Dart Specific
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Build Artifacts
build/
ios/Flutter/Flutter.podspec
ios/Pods/
android/.gradle/
android/app/build/

# IDE / Editor Settings
.idea/
.vscode/

# Dependency Lock Files (optional — keep for apps, ignore for packages)
pubspec.lock

# Logs & Misc
*.iml
*.log

# Test Coverage
coverage/
